<main class="main">
  <div class="inner">
    <div class="prototype__wrapper">
      <p class="prototype__hedding">
        <%= @protospace.catch_copy%>
        <%# binding.pry %>
      </p>
      <%= link_to "by #{@protospace.user.name}", user_path(@protospace.user), class: :prototype__user %>
      <% if user_signed_in? && current_user.id == @protospace.user_id %>
        <div class="prototype__manage">
          <%= link_to "編集する", edit_protospace_path(@protospace.id), class: :prototype__btn %>         
          <%= link_to "削除する", protospace_path(@protospace.id), data: { turbo_method: :delete },class: :prototype__btn %> 
        </div>
      <%end%>
      <div class="prototype__image">
        <%= image_tag @protospace.image %> 
      </div>
      <div class="prototype__body">
        <div class="prototype__detail">
          <p class="detail__title">キャッチコピー</p>
          <p class="detail__message">
            <%= @protospace.catch_copy %>
          </p>
        </div>
        <div class="prototype__detail">
          <p class="detail__title">コンセプト</p>
          <p class="detail__message">
            <%= @protospace.concept %>
          </p>
        </div>
      </div>
      <div class="prototype__comments">
        <% if user_signed_in? %>
          <%#= form_with model: @protospace,local: true do |f|%>
            <div class="field">
              <%#= f.label :comment, "コメント" %><br />
              <%#= f.text_field :comment, id:"comment_content" %>
            </div>
            <div class="actions">
              <%#= f.submit "送信する", class: :form__btn  %>
            </div>
          <%# end %>
        <% end %>
        <ul class="comments_lists">
          <%# 投稿に紐づくコメントを一覧する処理を記述する %>
            <li class="comments_list">
              <%# <%= " コメントのテキスト "%>
              <%# <%= link_to "（ ユーザー名 ）", root_path, class: :comment_user %>
            </li>
          <%# // 投稿に紐づくコメントを一覧する処理を記述する %>
        </ul>
      </div>
    </div>
  </div>
</main>
